* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#messagePage {
  display: none;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #000;
  color: #fff;
  padding-top: 20px;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

input {
  margin-bottom: 5px;
}

textarea {
  padding: 5px;
  font-size: 1rem;
}

.tabs {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 20px;
}

.tab {
  font-size: 1.5rem;
  padding: 10px 0 10px 0;
}

.inactive {
  background-color: #555;
  color: #fff;
  border: none;
}

.active {
  background-color: #04043f;
  color: #fff;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: none;
}

.formfields,
.filterfields {
  display: flex;
  margin: auto;
  width: 70%;
  border: none;
  padding-top: 50px;
}

.formfields {
  flex-direction: column;
}

.filterfields {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.short-field {
  max-width: 400px;
  padding-left: 5px;
  font-size: 1rem;
}

.dateinput {
  margin: 0 10px 0 5px;
  padding: 4px;
  border-radius: 10px;
}

.submit {
  max-width: 100px;
  margin-top: 10px;
  padding: 10px 5px 10px 5px;
  font-size: 1.1rem;
}

.subfilter {
  padding: 2px 5px 2px 5px;
}

.page {
  background-color: #04043f;
  min-height: 100dvh;
  animation: fadeEffect 0.5s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.messages {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
  padding-top: 30px;
}

.message {
  border: 4px solid #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 70% 30%;
  font-size: 1.1rem;
}

.msg-name,
.msg-date {
  font-weight: 600;
}

.msg-loc,
.msg-cont {
  grid-column: 1 / span 2;
}

.msg-cont {
  padding-top: 5px;
}

.waiting {
  font-size: 4em;
  animation-name: progress;
  animation-duration: 60s;
  animation-timing-function: linear;
}

@keyframes progress {
  from {
  }
  to {
    transform: translate(400px);
  }
}
